.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.postcard-container {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body {
  font-family: 'Lovers Quarrel', cursive;
  background-color: #FFBCBC;
  text-align: center;
  background-image: url('wallpaper.svg');
  background-size: cover;      /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin-top: 33px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 33px;
  font-size: 64px;
  padding: 33px 64px;
  border-radius: 15px;
  align-items: center;
}

.cherubim {
  position: absolute;
}

#cherubim-one {
  top: 105px;
  left: 620px;
}

#cherubim-two {
  right: 100px;
  top: 150px;
}

#cherubim-three {
  bottom: 200px;
  right: 400px;
}

.main-container {
  display: inline-flex;
}

.timer-inner-container {
  display: inline-block;
  max-height: max-content;
}

.timer-inner-container p{
  margin: 0px;
}

.proximity {
  margin-top: -72px;
}

.postcard {
  width: 400px;
  height: auto;
  margin-left: 33px;
}



@media (max-width: 600px) {
  .App-logo {
      width: 33%;
      margin-top: 0%;
  }

  .main-container {
    display: none;
  }

  .date {
    display: none;
  }

  .postcard {
    width: 300px;
    margin-left: 0px;
    margin-top: -150px;
    margin-bottom: 52px;

  }

  body {
   
    background-image: url('mobilewallpaper.svg');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
  
  }

  .timer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    font-size: 24px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: -75px;
  }
  
}


@media (min-width: 601px) and (max-width: 1024px) {
  .App-logo {
      width: 20%;
      margin-top: 0%;
      
  }  

  .main-container {
    display: block;
  }

  .postcard {
    width: 400px;
    height: auto;
    margin-left: 0px;
  }

  body {
   
    background-image: url('tabletwallpaper.svg');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
  
  }

  .timer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 33px;
    font-size: 40px;
    margin-top: 100px;
    padding: 14px 32px;
    border-radius: 15px;
    align-items: center;
  }

  .mobile-container {
    display: none;
  }

}

@media (min-width: 1025px) {
  .App-logo {
      width: 14%;
      margin-top: 0%;
  }  

  .mobile-container {
    display: none;
  }

}