
.postcard-container {
  text-align: center;
}

.time {
  font-size: 48px;
}


body {
  font-family: 'Lovers Quarrel', cursive;
  background-color: #FFBCBC;
  text-align: center;
 
}

.timer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 33px;
  font-size: 64px;
  padding: 33px 64px;
  border-radius: 15px;
  align-items: center;
}


.main-container {
  display: inline-flex;
}

.timer-inner-container {
  display: inline-block;
  max-height: max-content;
}

.timer-inner-container p{
  margin: 0px;
}

.proximity {
  margin-top: -72px;
}

.postcard {
  width: 400px;
  height: auto;
  margin-left: 33px;
  border-radius: 12px;
}



@media (max-width: 600px) {


  .main-container {
    display: none;
  }

  .date {
    display: none;
  }

  .postcard {
    width: 300px;
    margin-left: 0px;
    margin-top: 32px;
    margin-bottom: 144px;

  }

  .marriage {
    padding: 32px;
    font-size: 24px;
  }


  .timer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    font-size: 32px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 32px;
  }

  .cherubim {
    position: absolute;
    width: 144px;
  }
  
  #cherubim1 {
    top: 800px;
    left: 32px;
  }
  
  #cherubim2 {
    top: 1000px;
    right: 32px;
  }
  
  #cherubim3 {
    top: 450px;
    margin-left: -70px;
  }
  
}


@media (min-width: 601px) and (max-width: 1024px) {
  .App-logo {
      width: 20%;
      margin-top: 0%;
      
  }  

  .main-container {
    display: block;
  }

  .postcard {
    width: 400px;
    height: auto;
    margin-left: 0px;
  }

  .timer-container {
    display: flex;
    justify-content: space-evenly;
    gap: 33px;
    font-size: 32px;
    margin-top: 100px;
    padding: 14px 32px;
    border-radius: 15px;
    align-items: center;
  }

  .mobile-container {
    display: none;
  }

}

@media (min-width: 1025px) {
  .App-logo {
      width: 14%;
      margin-top: 0%;
  }  

  .mobile-container {
    display: none;
  }

}